## Imports

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('bmh')

from time import sleep
from datetime import datetime


from scipy import sparse
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import pairwise_distances, cosine_similarity

### Reading in CSV
---

In [7]:
df = pd.read_csv('../data/Combined_Final_Data/recommender_data.csv')
print(df.shape)
df.head(2)

(799, 36)

,team,year,games_played,wins,loss,win_pct,off_pts,def_pts,SRS,SOS,...,opp_rush_att,opp_rush_yds,opp_rush_TD,opp_plays,opp_yds,opp_yds_play,opp_Fum,opp_Int,opp_TO_Tot,league
0,New England Patriots,2018,16,11,5,0.688,27.2500,20.3125,5.2,-1.8,...,22.9375,112.6875,0.4375,62.625,359.1250,5.7,0.6250,1.1250,1.75,NFL
1,Miami Dolphins,2018,16,7,9,0.438,19.9375,27.0625,-8.8,-1.7,...,30.3125,145.3125,1.0625,64.000,391.0625,6.1,0.4375,1.3125,1.75,NFL

In [8]:
df.tail(2)

,team,year,games_played,wins,loss,win_pct,off_pts,def_pts,SRS,SOS,...,opp_rush_att,opp_rush_yds,opp_rush_TD,opp_plays,opp_yds,opp_yds_play,opp_Fum,opp_Int,opp_TO_Tot,league
797,Idaho,2014,11,1,10,0.091,25.0,37.3,-19.67,-7.21,...,43.9,245.9,2.9,66.8,462.1,6.9,0.8,0.7,1.5,College
798,Georgia State,2014,12,1,11,0.083,22.7,43.3,-20.41,-4.50,...,48.5,303.4,3.4,75.7,497.1,6.6,0.4,0.3,0.7,College

In [32]:
df.drop(columns=['wins','loss'], inplace=True)

## K-Means Clustering

In [33]:
df2 = df.copy()

In [35]:
X = df.iloc[:,3:33]
ss = StandardScaler()
ss.fit(X)
X_scaled = ss.transform(X)

In [84]:
km = KMeans(n_clusters=50, random_state= 1906)
km.fit(X_scaled)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=50, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=1906, tol=0.0001, verbose=0)

In [85]:
km.labels_

array([17, 31, 40, 40, 36, 18, 18, 31, 17, 17, 36, 12, 17, 36, 31,  1, 36,
       18, 31, 31, 47, 36,  1, 31, 17, 18,  1, 18, 17, 17, 40, 12, 17, 31,
       40,  1, 36, 11, 12, 40, 11, 31, 12, 40, 17, 36, 40, 40, 11, 31,  1,
        1, 36, 11, 31, 12, 47, 36, 36, 18, 11, 36,  1, 31, 17,  1, 31, 40,
       17, 11, 31, 40, 36, 31, 18, 12, 17, 17, 11, 18, 17, 11, 18,  1, 17,
       31, 36, 40, 17, 18, 18, 31, 36, 11, 40, 12, 17, 11,  1,  1, 47, 18,
        1,  1, 11,  1, 18, 40, 11, 47, 18,  1, 18, 18, 18, 12, 36, 36, 18,
        1, 47,  1, 18,  1, 11, 36, 31, 12, 17, 11,  1, 40, 17, 31, 17, 31,
       18, 11, 12, 12, 47, 36, 36, 40, 17, 18,  1, 40, 17, 11, 31, 18,  1,
       18, 18, 40, 36, 31, 31,  1, 30, 23, 20, 23,  6,  6, 41, 38, 29, 13,
       44, 14, 14, 21,  2,  8, 30, 19, 16, 32, 49,  2, 43, 45,  9, 19, 10,
       20, 20,  5, 20, 13, 10, 43,  5, 45, 42, 22,  3, 48, 38, 45,  4, 48,
        3, 44, 10, 43, 14, 32, 46, 26,  8, 26,  6, 21, 46, 44, 13, 33,  8,
       39, 25, 25, 41, 41, 21, 15,  3, 48, 26, 37, 26, 39, 41, 21, 48, 13,
        2, 26, 21, 19, 42, 37, 38, 29, 16,  4, 30, 46, 28, 38, 21,  3, 24,
       20, 23,  8, 32,  3, 20,  6, 20, 45, 46, 22, 30, 22, 20, 14, 45, 43,
       30,  3, 20, 22,  3, 28,  4, 30,  8, 15, 25, 32, 26,  0, 25, 25, 39,
       22, 20, 14, 10, 38,  3, 28, 48, 22, 29, 13, 43, 13,  4, 42, 23, 13,
        0, 34, 16,  5, 33, 29, 28,  9, 32, 42,  3, 42, 20, 23, 48, 14,  5,
       16, 16, 30, 37,  3, 44, 43, 13, 43, 30, 48,  3, 48, 28, 44,  4,  2,
       26, 46, 46, 46, 25, 27, 14, 26, 26, 26, 44, 25, 27, 46, 29, 38, 39,
       45, 23,  0, 26, 21, 25, 26,  8,  8,  7, 13, 25, 48, 26, 29, 19,  7,
        9, 48, 44, 41, 25, 21, 30, 38, 24, 23, 45, 27, 14, 10, 23, 28,  8,
       45, 22, 48, 43, 14, 13,  0, 19, 30, 22, 22, 44, 45, 28, 43, 26, 25,
        9,  8, 33, 46, 46, 32, 32, 46, 39, 27, 42, 42,  3, 48,  7,  7, 28,
        3, 48, 14, 10, 15, 45, 16, 44,  2,  8, 45, 39, 28, 15,  2, 33,  5,
       21,  7, 10,  5, 23, 23, 14, 14,  6, 49,  6, 16,  3, 30, 22, 45,  0,
        0, 25, 30, 38, 38, 48, 48, 19, 16, 33, 26,  5, 16, 32, 21,  6,  5,
       26, 13, 19, 25, 32, 16, 29, 37,  0,  8, 26, 21, 16,  7, 19, 30, 20,
        6, 46, 46,  6, 20, 29, 43, 29,  0,  0, 30, 32, 19, 19,  0, 30, 24,
       38, 49, 43, 10,  3, 20, 23, 34, 45,  6, 13, 44, 14, 43, 45, 43, 21,
       30, 38, 22, 14, 14,  6, 28, 38, 43, 26, 33, 23, 26, 32, 19, 19, 21,
       16, 30,  3,  8, 26, 43, 13, 44,  2, 38, 45, 14,  7, 16, 29,  3, 23,
       14, 13, 46, 16, 37, 15, 42, 49, 25, 32, 42, 14,  5, 42, 23, 49, 43,
       43,  6, 27, 48, 30, 22, 13, 10, 32,  4,  3, 44, 22,  6, 13, 13, 21,
       42,  8, 33, 46, 21, 39,  4, 33, 33, 25, 25, 21, 27, 20, 13,  9,  5,
        7, 26, 46, 39, 21,  4, 48, 20, 13, 23, 21, 41, 29, 37, 19,  9, 13,
       25, 44, 26,  0,  4, 27, 20, 10, 24,  5, 48, 32, 23, 20, 14, 34,  6,
       45,  3, 44, 38, 19, 39, 13, 45, 30, 33, 38, 20, 20, 13, 38, 30, 29,
       23, 46, 19, 41, 25, 19, 21, 32, 16, 14, 22,  8, 38, 26, 39, 39, 15,
       14, 28, 38, 13, 13,  8, 37,  5,  8, 33,  8,  7, 39, 39, 16, 39, 27,
       42, 42, 20, 23, 14, 13,  6, 28,  4, 21, 30, 37, 45, 43, 13, 13, 43,
       44,  7, 23, 13, 28, 45,  4, 42,  6, 49, 28, 26,  7, 21, 37, 26, 26,
       39, 39, 16, 14, 29,  9, 33, 21, 39, 26, 46, 21, 21, 16,  2,  6, 26,
       46, 45, 27, 42, 14,  8, 15,  9, 25, 44, 16, 23, 39, 19, 42,  3, 23,
       34, 45, 35, 10,  5, 10, 10, 48, 28, 48, 30,  7, 14, 13, 45,  4,  3,
       23,  8, 23, 44, 14,  3, 15, 26, 26,  2,  2, 39, 46, 25, 41, 41, 41],
      dtype=int32)

In [86]:
df2['cluster'] = km.labels_

In [87]:
df2[['team','year','win_pct','off_pts','def_pts','cluster','league']].sort_values(by='cluster',ascending=False).head(50)

                       team  year  win_pct  off_pts  def_pts  cluster   league
723        Western Kentucky  2014    0.615  44.4000  39.9000       49  College
576              Texas Tech  2015    0.538  45.1000  43.6000       49  College
180                 Houston  2018    0.615  43.9000  37.2000       49  College
451              Texas Tech  2016    0.417  43.7000  43.5000       49  College
511              California  2016    0.417  37.1000  42.6000       49  College
568                   Tulsa  2015    0.462  37.2000  39.8000       49  College
335                  Purdue  2017    0.538  25.2000  20.5000       48  College
199          Michigan State  2018    0.538  18.7000  17.2000       48  College
203            Northwestern  2018    0.643  24.2000  23.2000       48  College
369             Boise State  2017    0.786  32.5000  22.9000       48  College
375            Fresno State  2017    0.714  27.1000  17.9000       48  College
581          Michigan State  2015    0.857  29.8000  21.7000       48  College
772                    Utah  2014    0.692  31.3000  24.9000       48  College
426              Miami (FL)  2016    0.692  34.3000  18.5000       48  College
421    North Carolina State  2016    0.538  27.0000  22.8000       48  College
393          South Carolina  2017    0.692  24.2000  20.7000       48  College
618                  Toledo  2015    0.833  35.0000  20.8000       48  College
639              Washington  2015    0.538  30.6000  18.8000       48  College
229              Notre Dame  2018    0.923  31.4000  18.2000       48  College
333            Northwestern  2017    0.769  29.2000  20.1000       48  College
236       Northern Illinois  2018    0.571  20.1000  22.6000       48  College
296              Miami (FL)  2017    0.769  29.1000  21.0000       48  College
464               Minnesota  2016    0.692  29.3000  22.1000       48  College
465            Northwestern  2016    0.538  26.0000  22.2000       48  College
320                   Texas  2017    0.538  29.5000  21.2000       48  College
774                Missouri  2014    0.786  27.8000  21.1000       48  College
100      Cincinnati Bengals  2015    0.750  26.1875  17.4375       47      NFL
140          Denver Broncos  2014    0.750  30.1250  22.1250       47      NFL
56       New Orleans Saints  2017    0.688  28.0000  20.3750       47      NFL
120       Carolina Panthers  2015    0.938  31.2500  19.2500       47      NFL
20            Chicago Bears  2018    0.750  26.3125  17.6875       47      NFL
109      Kansas City Chiefs  2015    0.688  25.3125  17.9375       47      NFL
495        Central Michigan  2016    0.462  26.3000  30.3000       46  College
210  Middle Tennessee State  2018    0.571  28.0000  26.7000       46  College
415                   Idaho  2017    0.333  20.9000  25.8000       46  College
249                  Nevada  2018    0.615  31.1000  26.9000       46  College
563           East Carolina  2015    0.417  27.4000  26.0000       46  College
353           Massachusetts  2017    0.333  30.6000  31.8000       46  College
343        Western Kentucky  2017    0.462  25.5000  26.8000       46  College
412        New Mexico State  2017    0.538  29.3000  29.7000       46  College
342  Middle Tennessee State  2017    0.538  25.5000  24.7000       46  College
216        Western Kentucky  2018    0.250  21.1000  27.8000       46  College
794        Louisiana-Monroe  2014    0.333  20.1000  26.3000       46  College
494        Eastern Michigan  2016    0.538  29.6000  29.8000       46  College
341                Marshall  2017    0.615  26.7000  19.9000       46  College
664           Georgia State  2015    0.462  26.9000  28.3000       46  College
614                 Buffalo  2015    0.417  26.7000  27.6000       46  College
748        Central Michigan  2014    0.538  26.9000  25.2000       46  College
741                   Akron  2014    0.417  22.6000  23.1000       46  College
411           Georgia State  2017    0.583  20.3000  24.8000       46  College

In [88]:
df2[['team','year','win_pct','off_pts','def_pts','cluster','league']].sort_values(by='cluster',ascending=False).tail(50)

                     team  year  win_pct  off_pts  def_pts  cluster   league
334                  Iowa  2017    0.615  28.2000  19.9000        3  College
253            Washington  2018    0.714  26.4000  16.4000        3  College
454            Penn State  2016    0.786  37.6000  25.4000        3  College
425         Virginia Tech  2016    0.714  35.0000  22.8000        3  College
559                Temple  2015    0.714  29.8000  20.1000        3  College
204                  Iowa  2018    0.692  31.2000  17.8000        3  College
259                  Utah  2018    0.643  28.1000  19.4000        3  College
745     Northern Illinois  2014    0.786  31.5000  25.6000        2  College
181               Memphis  2018    0.571  42.9000  31.9000        2  College
552        North Carolina  2015    0.786  40.7000  24.5000        2  College
439                 Tulsa  2016    0.769  42.5000  29.8000        2  College
433         South Florida  2016    0.846  43.8000  31.6000        2  College
174                   UCF  2018    0.923  43.2000  22.7000        2  College
339      Florida Atlantic  2017    0.786  40.6000  22.7000        2  College
791        Arkansas State  2014    0.538  36.7000  30.5000        2  College
792           Texas State  2014    0.583  33.8000  27.7000        2  College
238                Toledo  2018    0.538  40.4000  30.5000        2  College
123  Tampa Bay Buccaneers  2015    0.375  21.3750  26.0625        1      NFL
83    Philadelphia Eagles  2016    0.438  22.9375  20.6875        1      NFL
15        Oakland Raiders  2018    0.250  18.1250  29.1875        1      NFL
146       New York Giants  2014    0.375  23.7500  25.0000        1      NFL
65         Miami Dolphins  2016    0.625  22.6875  23.7500        1      NFL
121       Atlanta Falcons  2015    0.500  21.1875  21.5625        1      NFL
119         Chicago Bears  2015    0.375  20.9375  24.8125        1      NFL
159        St. Louis Rams  2014    0.375  20.2500  22.1250        1      NFL
22      Green Bay Packers  2018    0.406  23.5000  25.0000        1      NFL
62      Arizona Cardinals  2017    0.500  18.4375  22.5625        1      NFL
51        New York Giants  2017    0.188  15.3750  24.2500        1      NFL
35          New York Jets  2017    0.313  18.6250  23.8750        1      NFL
111    San Diego Chargers  2015    0.250  20.0000  24.8750        1      NFL
152     Carolina Panthers  2014    0.469  21.1875  23.3750        1      NFL
105    Indianapolis Colts  2015    0.500  20.8125  25.5000        1      NFL
50    Washington Redskins  2017    0.438  21.3750  24.2500        1      NFL
130        Miami Dolphins  2014    0.500  24.2500  23.3125        1      NFL
26      Carolina Panthers  2018    0.438  23.5000  23.8750        1      NFL
103      Cleveland Browns  2015    0.188  17.3750  27.0000        1      NFL
102      Baltimore Ravens  2015    0.313  20.5000  25.0625        1      NFL
99         Miami Dolphins  2015    0.375  19.3750  24.3125        1      NFL
98          Buffalo Bills  2015    0.500  23.6875  22.4375        1      NFL
306            Cincinnati  2017    0.333  20.9000  31.8000        0  College
359               Buffalo  2017    0.500  28.5000  24.8000        0  College
507          Fresno State  2016    0.083  17.7000  30.9000        0  College
632        San Jose State  2015    0.462  27.9000  27.2000        0  College
459        Michigan State  2016    0.250  24.1000  27.8000        0  College
458              Maryland  2016    0.462  25.8000  29.5000        0  College
285             Louisiana  2018    0.500  31.9000  34.2000        0  College
502            Utah State  2016    0.250  23.9000  29.3000        0  College
484            Notre Dame  2016    0.333  30.9000  27.8000        0  College
397            Vanderbilt  2017    0.417  24.6000  31.3000        0  College
501        Colorado State  2016    0.538  35.3000  30.4000        0  College